[Unit]
Description=MCPO MCP to Open-webui bridge
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi
# Path to the python interpreter in your virtual environment
ExecStart=/home/pi/.local/bin/mcpo --port 8200 --config /home/pi/config.json --hot-reload
Restart=always
RestartSec=30


[Install]
WantedBy=multi-user.target

