[Unit]
Description=MCP Time Service
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/timeGps
# Path to the python interpreter in your virtual environment
ExecStart=/home/pi/timeGps/.venv/bin/python mcpTime.py 
Restart=always
RestartSec=30


[Install]
WantedBy=multi-user.target